.footer-container {
    height: 22vh;
    padding: 0 10%;
    background-image: linear-gradient(to bottom, rgb(69, 84, 74),rgb(51, 61, 55));
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding: 0 10%;
}

.footer-bar{
    position: absolute;
    right: 0;
    display: flex;
    list-style-type: none;
}

.footer-logo {
    height: 16vh;
    position: absolute;
    left: 0;
    padding: 1rem 3rem;
    top: 1rem;
}

.footer-nav-links {
    text-decoration: none;
    font-family: librefranklinsemibold;
    font-size: 1.1rem;
    margin: 1.4rem;
}
.footer-nav-links:hover {
    color: rgb(155, 155, 155);
}

@media only screen and (max-width: 1100px) {
    .footer{
        flex-direction: column;
    }
    .footer-logo{
        height: 15vh;
        position: relative;
        top: 0rem;
    }
    .footer-bar{
        position: relative;
    }
    .footer-nav-links {
        font-family: librefranklinsemibold;
        font-size: 1.1rem;
        margin: 0.8rem;
    }
}

