.nav-container {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 6;
    width: 100%;
    padding: 3rem 3rem;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    height: 12vh;
}

.nav-bar {
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    right: 0;
    padding: 1rem;
}

.nav-links {
    font-family: librefranklinsemibold;
    font-size: 1.1rem;
    margin: 1.4rem;
}

.logo {
    height: 16vh;
    position: absolute;
    left: 0;
    padding: 1rem 3rem;
    top: 1rem;
}

