@font-face {
  font-family: librefranklinbold;
  src: url(fonts/librefranklin-bold.ttf);
}

@font-face {
  font-family: librefranklinsemibold;
  src: url(fonts/librefranklin-semibold.ttf);
}

@font-face {
  font-family: librefranklin;
  src: url(fonts/librefranklin-regular.ttf);
}

@font-face {
  font-family: ibmplexmono;
  src: url(fonts/IBMPlexMono-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: librefranklin;
}
